/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.nav {
  font-size: 18px;
  line-height: 2;
  font-weight: 500;
}

.gallery {
  display: flex;
  max-width: 1440px;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gallery img {
  width: 360px;
  height: 200px;
}

.gallery li {
  transition: transform 200ms ease-in;
}

.gallery li:hover {
  transform: scale(1.03);
}
